@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  /* Font family */
  --font-Overpass: 'Overpass';

  /* Primary */
  --color-orange-500: hsl(25, 97%, 53%);

  /* Neutral */
  --color-white: hsl(0, 100%, 100%);
  --color-gray-500: hsl(217, 12%, 63%);
  --color-gray-900: hsl(213, 19%, 18%);
  --color-gray-950: hsl(216, 12%, 8%);
}

.rate {
  @apply w-10 h-10 flex items-center justify-center rounded-full bg-[#292f38] shadow-[0_0_2px_rgba(0,0,0,0.7)] p-2 cursor-pointer hover:scale-105 hover:bg-[#eb7e35] hover:text-[#222831] transition-transform;
}

.rate.active {
  @apply bg-white text-[#222831];
}
