@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  /* Font family */
  --font-Overpass: 'Overpass';

  /* Primary */
  --color-orange-500: hsl(25, 97%, 53%);

  /* Neutral */
  --color-white: hsl(0, 100%, 100%);
  --color-gray-500: hsl(217, 12%, 63%);
  --color-gray-900: hsl(213, 19%, 18%);
  --color-gray-950: hsl(216, 12%, 8%);
}
